CgminerHttpServer/.classpath
CgminerHttpServer/.project
CgminerHttpServer/.vscode/
CgminerHttpServer/.settings/
CgminerHttpServer/target/
CgminerProxy/.classpath
CgminerProxy/.project
CgminerProxy/.vscode/
CgminerProxy/.settings/
CgminerProxy/target/
