CgminerHttpServer/.classpath
CgminerHttpServer/.project
CgminerHttpServer/.factorypath
CgminerHttpServer/.vscode/
CgminerHttpServer/.settings/
CgminerHttpServer/target/
CgminerProxy/.classpath
CgminerProxy/.project
CgminerProxy/.factorypath
CgminerProxy/.vscode/
CgminerProxy/.settings/
CgminerProxy/target/
CgminerNettyHttpServer/.classpath
CgminerNettyHttpServer/.project
CgminerNettyHttpServer/.factorypath
CgminerNettyHttpServer/.vscode/
CgminerNettyHttpServer/.settings/
CgminerNettyHttpServer/target/
CgminerMicronautHttpServer/.classpath
CgminerMicronautHttpServer/.project
CgminerMicronautHttpServer/.factorypath
CgminerMicronautHttpServer/.vscode/
CgminerMicronautHttpServer/.settings/
CgminerMicronautHttpServer/target/
